<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="jumbotron text-center" >
        <h1>Welcome to the</h1>
        <h1> Movie Web App </h1>
          <%= link_to "Create Account", new_user_path, class: "btn btn-primary btn-lg"%>
      </div>
    </div>
  </div>
</div>
